@font-face {
    font-family: 'corbenbold';
    src: url('../assets/corben-bold-webfont.woff2') format('woff2'),
         url('../assets/corben-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../assets/roboto-regular-webfont.woff2') format('woff2'),
         url('../assets/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../assets/roboto-medium-webfont.woff2') format('woff2'),
         url('../assets/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playregular';
    src: url('../assets/play-regular-webfont.woff2') format('woff2'),
         url('../assets/play-regular-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'playbold';
    src: url('../assets/play-bold-webfont.woff2') format('woff2'),
         url('../assets/play-bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* -- Variables ---------------------------------------------------------- */
:root {
  --title-text: 'corbenbold', sans-serif;
  --headings-text: 'robotomedium', sans-serif;
  --body-text: 'robotregular', sans-serif;
  --white: #fff;
  --black: #000;
  --base-grey: #efefef;
  --chalk-blue: #75d2ff;
  --darkest-blue: #050b1a;
  --dark-blue: #0b1733;
  --torquise: #24cdd2;
  --purple: #310694;
  --purple-dark: #100132;
  --purple-light: #e8dffe;
  --purple-accent-dark: #1f0522;
  --youtube-red: #f00;
  --body-text-color: var(--darkest-blue);
  --background: var(--chalk-blue);
  --title-color: var(--purple);
  --headings-color: var(--purple);
  --card-bg: var(--white);
  --card-border: var(--title-color);
  --button-bg: var(--purple);
  --button-color: var(--white);
  --button-focus: var(--youtube-red);
  --link-color: var(--purple);
  --link-hover: var(--white);
  --warning-bg: #f4c8cc;
  --warning-color: #85000b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text-color: var(--purple-light);
    --background: var(--purple-accent-dark);
    --title-color: var(--torquise);
    --headings-color: var(--torquise);
    --card-bg: var(--darkest-blue);
    --card-border: unset;
    --details-bg: #390a3f;
    --button-bg: var(--torquise);
    --button-color: var(--darkest-blue);
    --link-color: var(--purple-light);
    --link-hover: var(--background);
  }
}

/* -- Resets ---------------------------------------------------------- */

/* Based on Andy Bell's Modern Reset
https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -- Global ------------------------------------------------------------- */
body {
  font-family: var(--body-text), sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  background: var(--background);
  color: var(--body-text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  background: var(--link-color);
  color: var(--link-hover);
  text-decoration: none;
}

a:focus {
  outline: 2px solid var(--link-color);
  outline-offset: .1rem;
}

/* -- Layout ------------------------------------------------------------- */
.wrapper {
  max-width: 95vw;
}

 @media (min-width: 48rem) {
  .wrapper {
    min-width: 60vw;
  }
}

@media (min-width: 120rem) {
 .wrapper {
 }
}

.wrapper-details {
  background: var(--details-bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem;
  border: 1px solid var(--card-border);
}

@media (min-width: 48rem) {
  .wrapper-details {
    padding: 1rem;
  }
}

/* -- Headings ----------------------------------------------------------- */
h1 {
  font-family: var(--title-text);
  line-height: 1.2;
  margin: .75rem 0;
  color: var(--title-color);
  padding-right: 1rem;
}

@media (min-width: 48rem) {
  h1 {
    margin-bottom: 1.5rem;
  }
}

h2,
h3 {
  font-family: var(--headings-text);
  color: var(--headings-color);
  line-height: 1.1;
  margin-bottom: .25rem;
}

h3 {
  margin-top: 1.5rem;
}

.fluid-type {
  --fluid-type-min-size: 1;
  --fluid-type-max-size: 2;
  --fluid-type-min-screen: 20;
  --fluid-type-max-screen: 88;
 font-size: calc(
  (var(--fluid-type-min-size) * 1rem) + (var(--fluid-type-max-size) - var(--fluid-type-min-size)) * (100vw - (var(--fluid-type-min-screen) * 1rem)) / (var(--fluid-type-max-screen) - var(--fluid-type-min-screen))
  );
}

h1.fluid-type{
 --fluid-type-min-size: 1.45;
 --fluid-type-max-size: 2.45;
}

h2.fluid-type {
 --fluid-type-min-size: 1.3;
 --fluid-type-max-size: 1.45;
}

button.fluid-type {
  --fluid-type-min-size: 1.15;
  --fluid-type-max-size: 1.05;
}

/* -- Replays ------------------------------------------------------------ */
article {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background: var(--card-bg);
}

.details {
  line-height: 1.6;
  font-size: .93rem;
}

@media (min-width: 48rem) {
  .details {
    display: flex;
    flex-wrap: wrap;
  }
}

.details li:nth-last-child(n+2) {
  margin-right: 1.25rem;
}

.button-section {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 48rem) {
  .button-section {
    margin-top: .25rem;
    display: block;
    width: auto;
  }
}

button {
  border: none;
  outline: none;
  padding: .85rem 1.25rem;
  background: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

button:hover {
  filter:brightness(2);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: .2rem;
  box-shadow: 0 0 0 0.25rem var(--button-focus);
}

/* -- Footer ----------------------------------------------------------- */
.wrapper-footer {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin-top: .5rem;
}

@media (min-width: 48rem) {
  .wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.wrapper-footer div:first-child {
  margin-bottom: 1rem;
}

.report-button {
  padding: .15rem 0;
  padding-right: .25rem;
}

.report-button:hover .icon-1-25x,
.report-button:hover .icon {
  fill: var(--link-hover);
}

.wrapper-footer p {
  margin-bottom: .25rem;
}

 .colophon-credits {
  display: flex;
  flex-wrap: wrap;
}

.colophon-credits li:first-of-type {
  margin-right: .5rem;
}

.colophon-list li {
  margin-left: .5rem;
  line-height: 1.3;
  margin-top: .5rem;
}

.kofi {
  display: flex;
  justify-content: center;
  margin: .5rem auto 1.5rem;
}

.kofi a:hover {
  background: unset;
}

#total-replays {
  font-weight: 700;
}

/* -- Alert -------------------------------------------------------------- */
[role="alert"] {
  background: var(--warning-bg);
  padding: .75rem;
  color: var(--warning-color);
}

[role="alert"] .icon-1-5x {
  margin-right: .25rem;
  fill: var(--warning-color);
}

/* -- Icons -------------------------------------------------------------- */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

.icon-1-25x {
  width: 1.25em;
  height: 1.25em;
  vertical-align: -.2em;
}

.icon-1-5x {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -.25em;
}

.icon-link:hover {
  background: none;
}

.icon:hover,
.icon-1-25x:hover {
  fill: var(--link-hover);
  background: none;
}

footer .icon, .icon-1-25x {
  fill: var(--link-color);
}

.colophon .icon {
  margin-left: .15rem;
}


/* -- Video player ------------------------------------------------------- */
.video-player {
    background: var(--black);
    border: 1px solid var(--card-border);
  }

iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
  border: unset;
}

/* -- No JS and 404 ------------------------------------------------------- */
.no-js {
  display:none;
}

.alert-no-js,
.alert-404 {
  padding: .75rem;
  margin-bottom: .5rem;
}

.alert-no-js {
  border: 1px solid var(--title-color);
  background: var(--title-color);
  color: var(--card-bg);
  max-width: 55rem;
}

.alert-no-js .icon-1-5x {
  margin-right: .25rem;
  fill: var(--card-bg);
}

.alert-404 {
  border: 1px solid var(--title-color);
  background: var(--card-bg);
  color: var(--title-color);
  margin: 1rem 0;
}

.alert-404 .icon-1-5x {
  margin-right: .25rem;
  fill: var(--title-color);
}

.no-script {
  font-size: 1.2rem;
  border: 1px solid var(--headings-color);
  padding: 2rem 1.5rem;
}

.no-script p {
  max-width: 55rem;
}

.no-script > * + * {
  margin-top: 1.25rem;
}

/* -- spinner styles ------------------------- */
[v-cloak] > * {display: none;}
[v-cloak]::before {
  content: '';
  display: flex;
  z-index: 1;
  width: 8rem;
  height: 8rem;
  margin: 5rem auto;
  border: 1rem solid var(--card-bg);
  border-radius: 50%;
  border-top: 1rem solid var(--title-color);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.visually-hidden {
 position:absolute;
 width:1px;
 clip:rect(0 0 0 0);
 overflow:hidden;
 white-space:nowrap
}
